<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Moderne & Chic</title>
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS -->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/rs-plugin/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/theme.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/mobile/meanmenu.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/responsive.css" />

    <!-- SLICK SLIDER -->
    <link rel="stylesheet" type="text/css" href="~/Content/Slippry/dist/slippry.css" />

</head>
<body>
    <header>
        <div class="container">
            <div class="header_top">
                <div class="row">
                    <div class="col-md-5">
                        <div class="header_top_left float-left">
                            <ul class="social_icon">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                            <ul class="social_others">
                                <li><a><i class="fa fa-phone"></i>0123456789</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>contact@modern-et-chic.fr</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="header_top_right text-right">
                            <ul>
                                <li><a href="#">Mon Compte</a></li>
                                <li><a href="checkout.html">Panier</a></li>
                                <li><a href="#">M'inscrire</a></li>
                                <li><a href="#">Connection</a></li>
                                <li class="searchbox">
                                    <input type="search" placeholder="Rechercher......" name="search" class="searchbox-input" onkeyup="buttonUp();" required="">
                                    <input type="submit" class="searchbox-submit" value="">
                                    <span class="searchbox-icon"><i class="fa fa-search"></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mega_relative">
                <div class="col-xs-12 col-sm-3">
                    <div class="logo head_lo">
                        <a href="index.html">
                            <p style="font-family: 'Bebas'; display: inline; font-size: 26pt;">MODERNE </p>
                            <p style="font-family: 'Josefin Sans'; display: inline; font-size: 25pt;"> & CHIC</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="mainmenu float-right">
                        <nav>
                            <ul>
                                <li><a href="#" class="one-line">Bureaux</a></li>
                                <li><a href="#">Canapés, Fauteuils</a></li>
                                <li><a href="#">Commodes, Étagères</a></li>
                                <li><a href="#" class="one-line">Meubles TV</a></li>
                                <li><a href="#">Petit Rangement</a></li>
                                <li><a href="#">Tables, Chaises</a></li>
                                <li><a href="#" class="one-line">Décoration</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <ul id="slippry_slider_box" class="slippry_slider">
        <li>
            <a href="#slide1">
                <img src="~/Content/images/Slider/image1.jpg" />
            </a>
        </li>
        <li>
            <a href="#slide2">
                <img src="~/Content/images/Slider/image2.jpg" />
            </a>
        </li>
        <li>
            <a href="#slide3">
                <img src="~/Content/images/Slider/image3.jpg" />
            </a>
        </li>
        <li>
            <a href="#slide4">
                <img src="~/Content/images/Slider/image4.jpg" />
            </a>
        </li>
        <li>
            <a href="#slide4">
                <img src="~/Content/images/Slider/image5.jpg" />
            </a>
        </li>
    </ul>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="footer_top footer-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-sm-6" style="width : 50%;">
                        <div class="newsletter">
                            <h4>Inscrivez-vous à la NewsLetter !</h4>
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-6"  style="width : 50%;">
                        <div class="newsletter text-right">
                            <input class="news_input" type="text" value="" placeholder="Entrez votre adresse mail...">
                            <input class="subscribe_btn" type="button" value="Envoyer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_second footer-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 safety_highlight">
                        <i class="material-icons safety_site_icon">local_shipping</i>
                        <div class="safety_site_highlight_line"></div>
                        <div class="safety_site">LIVRAISON GRATUITE</div>
                    </div>
                    <div class="col-sm-6 col-md-3 safety_highlight">
                        <i class="material-icons safety_site_icon">payment</i>
                        <div class="safety_site_highlight_line"></div>
                        <div class="safety_site">PAIEMENTS 100% SÉCURISÉS</div>
                    </div>
                    <div class="col-sm-6 col-md-3 safety_highlight">
                        <i class="material-icons safety_site_icon">history</i>
                        <div class="safety_site_highlight_line"></div>
                        <div class="safety_site">7 JOURS POUR CHANGER D'AVIS</div>
                    </div>
                    <div class="col-sm-6 col-md-3 safety_highlight">
                        <i class="material-icons safety_site_icon">swap_horiz</i>
                        <div class="safety_site_highlight_line"></div>
                        <div class="safety_site">RETOURS ACCEPTÉS</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_middel footer-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="footer_link address">
                            <p>ACHETER EN LIGNE</p>
                            <ul>
                                <li>Livraison</li>
                                <li>Paiement Sécurisé</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="footer_link">
                            <p>SERVICES</p>
                            <ul>
                                <li><a href="#">Services en ligne</a></li>
                                <li><a href="#">Mon Panier</a></li>
                                <li><a href="#">SAV</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="footer_link res_mar">
                            <p>Réseaux Sociaux</p>
                            <ul>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="footer_link res_mar">
                            <p>À PROPOS DE MODERNE & CHIC</p>
                            <ul>
                                <li><a href="#">Qui sommes-nous ?</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Livraison Express GRATUITE !</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>

    <!-- JS -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/search-box.js"></script>

    <!-- SLICK JS-->
    <script type="text/javascript" src="~/Content/Slippry/src/slippry.js"></script>
    <script type="text/javascript" src="~/Scripts/Slider-Slippry.js"></script>


</body>
</html>