body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.searchbox-input{
    max-width: 326px;
    font-family: 'Josefin Sans';
}

.searchbox-input:focus{
    outline-width: 0;
}

.mainmenu ul{
    display: table-row;
}

.mainmenu ul li{
    display: table-cell;
    vertical-align: middle;
}

.mainmenu li a {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    margin-right: 5px;
    text-align: center;
    font-family: 'Josefin Sans';
    display: block;
    width: 107px;
    /* height: 60px; */
}

.mainmenu li .one-line{
    height: 60px;
    line-height: 40px;
}

.news_input{
    font-family: 'Josefin Sans';
    padding-left: 10px;
    font-size: 16px;
}

.mainmenu li a:hover {
    border-bottom: 3px solid orange;
    transition: none;
    height: 60px;
}

.mainmenu li.shop_icon a:hover{
    border: 1px solid rgb(57, 74, 95);
    transition: none;
}




/*CSS MAXIME WALTER*/
.safety_site{
    color: rgb(0, 0, 0);
    font-family: "Josefin Sans";
    text-align :center;
    padding-top : 10px;
}

.safety_site_icon{
    color: rgb(0, 0, 0);
    font-size : 35px;
    display : block;
    text-align :center;

    transition:font-size 0.3s;
     -moz-transition:font-size 0.3s; /* Firefox 4 */
     -webkit-transition:font-size 0.3s; /* Safari and Chrome */
     -o-transition:font-size 0.3s;
}

.safety_highlight{
    /*cursor :help;*/

}
.safety_highlight:hover  .safety_site_icon{
    color: rgb(0, 0, 0);
    font-size : 45px;
}


.safety_highlight:hover  .safety_site_highlight_line{
    width : 50%;
    padding-top : 5px;
}
.safety_site_highlight_line{

    width : 0%;
    margin : auto;
    border-bottom-style : solid;
    border-bottom-width : 2px;
    border-bottom-color : rgb(210, 200, 172);
    opacity : 0.7;


        transition:width 0.5s;
     -moz-transition:width 0.5s; /* Firefox 4 */
     -webkit-transition:width 0.5s; /* Safari and Chrome */
     -o-transition:width 0.5s;

}


/*SLICK SLIDER (MAX W)*/


.slippry_slider img{
    margin-top : -250px;
       -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%);

    /*-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);*/
    
}

.sy-box{
    height : 300px;
}

.sy-slides-wrap img{
  
 position: absolute;
  left: 50%;
  width: auto;
  -webkit-transform: translate(-50%,-30%);
      -ms-transform: translate(-50%,-30%);
          transform: translate(-50%,-30%);
}


.sy-pager{
    display : none !important;
}