body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.searchbox-input{
    max-width: 326px;
    font-family: 'Josefin Sans';
}

.searchbox-input:focus{
    outline-width: 0;
}

.mainmenu ul{
    display: table-row;
}

.mainmenu ul li{
    display: table-cell;
    vertical-align: middle;
}

.mainmenu li a {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    margin-right: 5px;
    text-align: center;
    font-family: 'Josefin Sans';
    display: block;
    width: 107px;
    /* height: 60px; */
}

.mainmenu li .one-line{
    height: 60px;
    line-height: 40px;
}

.news_input{
    font-family: 'Josefin Sans';
    padding-left: 10px;
    font-size: 16px;
}

.mainmenu li a:hover {
    border-bottom: 3px solid orange;
    transition: none;
    height: 60px;
}

.mainmenu li.shop_icon a:hover{
    border: 1px solid rgb(57, 74, 95);
    transition: none;
}




/*CSS MAXIME WALTER*/
.safety_site{
    color: rgb(0, 0, 0);
    font-family: "Josefin Sans";
    text-align :center;
    padding-top : 20px;
}

.safety_site_icon{
    color: rgb(0, 0, 0);
    font-size : 35px;
    display : block;
    text-align :center;

    transition:font-size 0.3s;
     -moz-transition:font-size 0.3s; /* Firefox 4 */
     -webkit-transition:font-size 0.3s; /* Safari and Chrome */
     -o-transition:font-size 0.3s;
}

.safety_highlight{
    cursor : pointer;

}
.safety_highlight:hover  .safety_site_icon{
    color: rgb(0, 0, 0);
    font-size : 45px;
}

